html, body {
  height: 100%;
}

:root {
  --main-color: #363636;
  --diluted-color: #424242;
  --opposite-color: #C2C2C2;
}

.bg-diluted, button.btn-diluted, a.btn-diluted {
  background-color: var(--diluted-color);
  border-color: var(--opposite-color);
  color: var(--opposite-color);
}

button.btn-diluted:hover, a.btn-diluted:hover {
  background-color: var(--main-color);
  border-color: var(--opposite-color);
  color: var(--opposite-color);
}

.bg-diluted:focus, button.btn-diluted:focus, a.btn-diluted:focus {
  background-color: var(--diluted-color);
  border-color: var(--opposite-color);
  color: var(--opposite-color);
  box-shadow: 0 0 0 0.2rem var(--opposite-color)
}

button.btn-outline-diluted, abtn-outline-diluted {
  background-color: transparent;
  border-color: var(--diluted-color);
  color: var(--diluted-color);
}

button.btn-outline-diluted:hover, a.btn-outline-diluted:hover {
  background-color: var(--diluted-color);
  border-color: var(--opposite-color);
  color: var(--opposite-color);
}

button.btn-outline-diluted:focus, a.btn-outline-diluted:focus {
  background-color: transparent;
  border-color: var(--diluted-color);
  color: var(--diluted-color);
  box-shadow: 0 0 0 0.2rem var(--diluted-color);
}

.bg-main, button.btn-main, a.btn-main {
  background-color: var(--main-color);
  border-color: var(--opposite-color);
  color: var(--opposite-color);
}

button.btn-main:hover, a.btn-main:hover {
  background-color: var(--opposite-color);
  border-color: var(--main-color);
  color: var(--main-color);
}

button.bg-main:hover, button.btn-main:focus, a.btn-main:focus {
  background-color: var(--main-color);
  border-color: var(--opposite-color);
  color: var(--opposite-color);
  box-shadow: 0 0 0 0.2rem var(--opposite-color)
}

button.btn-outline-main, a.btn-outline-main {
  background-color: transparent;
  border-color: var(--opposite-color);
  color: var(--opposite-color);
}

button.btn-outline-main:hover, a.btn-outline-main:hover {
  background-color: var(--main-color);
  border-color: var(--opposite-color);
  color: var(--opposite-color);
}

button.btn-outline-main:focus, a.btn-outline-main:focus {
  background-color: transparent;
  border-color: var(--opposite-color);
  color: var(--opposite-color);
  box-shadow: 0 0 0 0.2rem var(--opposite-color)
}

.bg-opposite, button.btn-opposite, a.btn-opposite {
  background-color: var(--opposite-color);
  border-color: var(--opposite-color);
  color: var(--main-color);
}

button.btn-opposite:hover, a.btn-opposite:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: var(--opposite-color);
}

.bg-opposite:focus, button.btn-opposite:focus, a.btn-opposite:focus {
  background-color: var(--opposite-color);
  border-color: transparent;
  color: var(--main-color);
  box-shadow: 0 0 0 0.2rem var(--opposite-color)
}

button.btn-outline-opposite, a.btn-outline-opposite {
  background-color: transparent;
  border-color: var(--opposite-color);
  color: var(--opposite-color);
}

button.btn-outline-opposite:hover, a.btn-outline-opposite:hover {
  background-color: var(--opposite-color);
  border-color: var(--main-color);
  color: var(--main-color);
}

button.btn-outline-opposite:focus, a.btn-outline-opposite:focus {
  background-color: transparent;
  border-color: var(--opposite-color);
  color: var(--opposite-color);
  box-shadow: 0 0 0 0.2rem var(--opposite-color)
}
